@font-face {
  font-family: "Rockwell";
  src: url('../fonts/rockwell/ROCK.TTF');
}

@font-face {
  font-family: "Rockwell";
  font-weight: bold;
  src: url('../fonts/rockwell/rockb.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;